<div class="flats">
  <div class="container">
    <div class="row">
      <div class="list-title page-header">
        <h1>Discover inspiring places</h1>
      </div>

      <% @flats.each do |flat| %>

        <div class="listing">
            <div class="col-sm-6 col-md-4 listing-max">
              <%= render "shared/flatlistimage", flat: flat %>
              <div class="detail-flat">
                <div class="row">
                    <div class="col-md-12 title-flat-list">
                      <%= link_to flat.title, flat %>
                    </div>
                    <div class="col-md-6 city-flat-list">
                      <%= link_to flat.city, flat %>
                    </div>
                    <div class="col-md-6 price-flat-list text-right">
                      <%= link_to flat.price, flat %> €
                    </div>
                  </div>
                </div>

              </div>
            </div>

      <% end %>

    </div>
  </div>
</div>


