<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
    <div class="page-header">
      <h1>Add a New Flat</h1>
    </div>
    <%= render "flats/form" %>
    </div>
  </div>
</div>