<div id="footer" class="text-center">
  <p class="join_social">Join Us On</p>
    <ul class="list-inline social text-center">
      <li><%= fa_icon "facebook-square" %></li>
      <li><%= fa_icon "pinterest-square" %></li>
      <li><%= fa_icon "youtube" %></li>
    </ul>
  <p>AIRDMC - 2014</p>
</div>

