<div class="wrapper">
  <div class="container">
    <div class="row">
     <div class="col-sm-offset-1 col-sm-10">
      <div class="banner text-center">
        <h1>WELCOME HOME</h1>
        <p>Rent the best flat for your holidays</p>
        <div class="col-xs-3 col-xs-offset-5">
          <%= link_to 'Browse flats', flats_path, class: "btn-home" %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="last_flats_home text-center">
  <p>Discover inspiring places</p>
</div>

<div class="feature text-center">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div>
        <%= image_tag("photo_home_1.jpg") %>
      </div>
      <div class="container home-listing">
        <% @flats.each do |flat| %>
          <div class="col-sm-6 col-md-4 listing-max">
          <%= render "shared/flatlistimage", flat: flat %>
    </div>
  <% end %>
</div>




















