<div class="wrapper">
  <div class="container">
    <div class="row">
     <div class="col-sm-offset-1 col-sm-10">
      <div class="banner text-center">
        <h1>WELCOME HOME</h1>
        <h2>Rent the best flat for your holidays</h2>
        <div class=" col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4">
          <%= link_to 'Browse flats', flats_path, class: "btn-home" %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="last_flats_home text-center">
  <p>Discover Inspiring Places</p>
</div>

<div class="container home-listing">
  <% if @flats %>
    <% @flats.each do |flat| %>
      <div class="col-sm-6 col-md-4 listing-max">
        <div class="grid">
          <figure class="effect-zoe">
            <%= render "shared/flatlistimage", flat: flat %>
            <figcaption>
              <h2>Visit <span><%= flat.city %></span></h2>
              <!-- <p class="icon-links">
                <a href="#"><i class="fa fa-heart"></i></a>
                <a href="#"><i class="fa fa-heart"></i></a>
                <a href="#"><i class="fa fa-heart"></i></span></a>
              </p> -->
              <p class="description"><%= flat.title%></p>
            </figcaption>
          </figure>
        </div>
      </div>
    <% end %>
  <% end %>
</div>



<!-- <div class="container home-listing">
  <
  % if @flats %
  >
    <
    % @flats.each do |flat| %
    >
      <div class="col-sm-6 col-md-4 listing-max">
        <
        %= render "shared/flatlistimage", flat: flat %
        >
      </div>
    <
    % end %
    >
  <
  % end %
  >
</div> -->






