
.wrapper {
  background-image: asset-url("airbnb-treehouse-3.png");
  background-attachment: fixed;
  height: 550px;
  background-size: cover;
  padding-top: 150px;
  text-align: center;
  color: white;
  margin-right: 0px;
  margin-left: 0px;
}

.banner h1 {
  font-size: 72px;
  text-shadow: 0 0 20px rgba(0, 0, 0, .8);
  font-weight: normal;
}

.banner p {
  font-size: 30px;
}

.feature {
 /* height: 300px;*/
 padding: 40px 0px;
}

.last_flats_home {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 32px;
  padding-top: 50px;
}