/*.listing {
  padding: 20px;
}*/

.listing-max {
   max-width: 400px;
   max-height: 274px;
   margin-bottom: 30px;
}

.image-flat {
  display: block;
  margin-left: auto;
  margin-right:auto;
  margin: 0 auto;
  width:100%;
  height:100%;
  max-height: 274px;
}

.title-flat-list > h2 {
  font-weight: 400;
  font-size: 20px;
  color: grey;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.city-flat-list {
  font-weight: 400;
  font-size: 15px;
  color: grey;
}

.price-flat-list {
  font-weight: 600;
  font-size: 15px;
  color: grey;
}

.detail-flat a:hover, a:link, a:visited, a:active {
  text-decoration: none;
  color: grey;
}

.list-title h1 {
  margin-left: 30px;
  font-size: 32px;
  font-weight: 600;
}